* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

header {
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-size: cover;
    height: calc(100vh - 65vh);
}

body {
    font-family: "Work Sans";
    background-color: hsl(275, 100%, 97%);
    position: relative;
}

.content {
    position: absolute;
    right: 50%;
    top: 10rem;
    display: flex;
    justify-content: center;
}

.content__box {
    background-color: hsl(0, 0%, 100%);
    position: absolute;
    width: 50rem;
    border-radius: 1.5rem;
    height: 47rem;
}

.align__box {
    margin: 2rem;
}

.content__title {
    margin-top: -1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

.content__title h1 {
    font-size: 3rem;
    color: hsl(292, 42%, 14%);
}

.content__title img {
    height: 2.8rem;
}

.asks__content {
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: block;
}


.asks {
    display: flex;
    width: 46rem;
    justify-content: space-between;
}

.asks p {
    color: hsl(292, 42%, 14%);
    font-size: 1.6rem;
    font-weight: 600;
}

.asks img {
    height: 3rem;
    margin-top: -.3rem;
}


.ask__descriptions {
    word-break: normal;
    color: hsl(292, 16%, 49%);
    font-size: 1.3rem;

    height: 5;
    opacity: 0;
    overflow: hidden;
}

.asks__content.actived .ask__descriptions {
    transition: 2s;
    height: fit-content;
    opacity: 1;
}